/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class="dog"] {
  color: var(--magenta);
}
li[id="cat"] {
  color: var(--teal);
}
li[class="parrot"] {
  color: var(--green);
}
li[class="donkey"] {
  color: var(--blue);
}
li[class="hedgehog"] {
  color: var(--magenta);
}
li[class="cat dog parrot"] {
  color: var(--blue)
}

/* Use descendant, child, and sibling selectors for the second part */

.list-food li.first {
  color: var(--green);
}

.list-food li.first ~ li {
  color: var(--magenta);
}

.list-food li.second + li {
  color: var(--blue);
}

.list-cleaning > ol > li {
  color: var(--green);
}
